.idea
.gradle
!gradle/wrapper/gradle-wrapper.jar
tests/romedawg_secrets.txt
*romedawg_secrets.txt
.env
tests/.env
build/libs/romedawg.jar
./build
build/
application-local.properties
mycredentials.txt
mycredentials_export.txt
