<!DOCTYPE html>
<html layout:decorator="index" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index.html}">
<div layout:fragment="content">

    <div class="container">
        <p>Metra Schedule By Stop</p>

        <table>
            <tr>
                <th style="width: 20%">Departure Location</th>
                <th style="width: 20%">Departure Time</th>
                <th style="width: 20%">Arrival Location</th>
                <th style="width: 20%">Arrival Time</th>
                <th style="width: 20%">Travel Minutes</th>
            </tr>
            <tr th:each="schedule : ${stops}">
                <td class="align-middle" th:text="${schedule.departureTime}"></td>
                <td class="align-middle" th:text="${schedule.departureLocation}"></td>
                <td class="align-middle" th:text="${schedule.arrivalTime}"></td>
                <td class="align-middle" th:text="${schedule.arrivalLocation}"></td>
                <td class="align-right" th:text="${schedule.travelMinutes}"></td>
            </tr>
        </table>


    </div>
</div>

</html>
