<!DOCTYPE html>
<html layout:decorator="index" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index.html}">
<div layout:fragment="content">

    <div class="container">
        <div>
            <h2>Heading to </h2><h2 th:text="${destination}"></h2>
        </div>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Departure Location</th>
                    <th scope="col">Departure Time</th>
                    <th scope="col">Arrival Location</th>
                    <th scope="col">Arrival Time</th>
                    <th scope="col">Travel Minutes</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="schedule : ${stops}">
                    <td th:text="${schedule.departureLocation}"></td>
                    <td th:text="${schedule.departureTime}"></td>
                    <td th:text="${schedule.arrivalLocation}"></td>
                    <td th:text="${schedule.arrivalTime}"></td>
                    <td th:text="${schedule.travelMinutes}"></td>
                </tr>
            </tbody>
        </table>


    </div>
</div>

</html>
