<!DOCTYPE html>
<html layout:decorator="index" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index.html}">
<div layout:fragment="content">

    <div>
        <p>Add TODO items for site improvements</p>
    </div>

    <div id="todo-form2" class="container">
        <form id="form" action="#" method="post" th:action="@{/todo}" th:object="${todo}">
            <div class="form-group">
                <label for="taskName">Task Name</label>
                <input type="text" class="form-control" id="taskName" th:field="*{taskName}">
            </div>
            <div class="form-group">
                <label for="Category">Category</label>
<!--                todo figure out how to persist category -->
                <select name="color" class="form-control" id="Category" th:field="*{Category}">
                    <option th:each="Category : ${T(com.romedawg.domain.todo.Category).values()}"
                            th:value="${Category}" th:text="${Category.getDisplayValue}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="taskDescription">Description</label>
                <textarea class="form-control" id="taskDescription" th:field="*{taskDescription}" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

    <div class="col-md-14 container">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Task Name</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Active</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.TaskName}"></td>
                <td th:text="${task.TaskDescription}"></td>
                <td th:text="${task.Category}"></td>
                <td th:text="${task.Active}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</html>
